.DS_Store
test/*
data/log/*
data/i10fg_dataset/*
data/climatology/hourly_with_storms_extended/*
data/climatology/hourly_without_storms_extended/*
data/climatology/hourly_without_storms/*
data/climatology/hourly_winter_season/*
pre_processing/maps/servor_process/logs/*
pre_processing/climatology/log/*